.wrapper {
    margin-top: 1em;
    border: 0.5px solid #ccc;
    padding-inline: 8em;
    margin: 2rem;

    height: fit-content;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.gap {
    gap: 2em;
}

.margin-bottom {
    margin-bottom: 4em;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.rounded {
    border-radius: 50%;
}

/* services component */
.card {
    border: 0.5px solid #ccc;
    margin: 2rem;
}

.image-center {
    margin-top: 1.5em;
}

.flex {
    display: flex;
}

/* review component */
.flex-center {
    display: flex;
    justify-content: center;
}

.rounded-box {
    border-radius: 1em;
}
